.side-bar {
  background-color: #393a44;
}

.reservation-form {
  overflow-x: hidden;
  background-color: blue;
}
.container-fluid {
  overflow-x: hidden;
}

.form-element {
  background-color: grey;
  min-width: 300px;
}

.reservation-item {
  min-width: 180px;
}
